@page
@model IndexModel
@{
    ViewData["Title"] = "Évènements";
}

@if (this.Model.Events != null && this.Model.Events.Any()) {
    <ul>
        @foreach (var ev in this.Model.Events) {
            <li><a href="@ev.MessageLink">@ev.EventName</a> (<a href="@ev.LogStreamLink">vue</a>,
        <a href="@ev.ExportLink">télécharger</a>)</li>
        }
    </ul>
}

    <form method="post">
        <fieldset>
            <legend>
                Ajouter un évènement
            </legend>

            <div class="form-group">
                <label for="EventName">Nom</label>
                <input type="text" class="form-control" id="EventName" name="EventName" value="@this.Model.EventName" />
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>
        </fieldset>
    </form>