@page "{eventID}"
@model LogStreamModel
@{
}

@if (!String.IsNullOrEmpty(this.Model.EventName))
{
    <h2>@this.Model.EventName</h2>
}

<p><label><input type="checkbox" checked="checked" name="showconfirmed" class="show-confirmed" /> Montrer lignes quittancés</label></p>


@if (this.Model.Messages != null)
{
    <table class="table">
        <thead>
        <th scope="col">Date d'envoi</th>
        <th scope="col">De</th>
        <th scope="col">À</th>
        <th scope="col">Message</th>
        <th scope="col">Urgence</th>
        <th scope="col">Quittance</th>
        </thead>
        <tbody>
            @foreach (var message in this.Model.Messages)
            {
                <tr data-id="@message.MessageID">
                    <td>@message.EnteredOn.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@message.Sender</td>
                    <td>@message.Recipient</td>
                    <td>@message.MessageText</td>
                    <td class="@message.PriorityClass">
                        @if (message.Priority != null)
                        {
                            @message.Priority.Name
                        }
                </td>
                <td class="@message.ApprovalClass">
                    @if (message.Approval != null)
                    {
                        @message.Approval.Name
                    }
            </td>
        </tr>
    }
        </tbody>
    </table>
}