@page "{eventID}/{messageID?}"
@model MessageModel
@{
}

@if (!String.IsNullOrEmpty(this.Model.EventName))
{
    <h2>@this.Model.EventName</h2>
}

<p class="displayoptions"><label><input type="checkbox" checked="checked" name="showconfirmed" class="show-confirmed" /> Montrer lignes quittancés</label></p>

@if (this.Model.Messages != null && this.Model.Messages.Any())
{
    <table class="table">
        <thead>
        <th scope="col">Date d'envoi</th>
        <th scope="col">De</th>
        <th scope="col">À</th>
        <th scope="col">Message</th>
        <th scope="col">Urgence</th>
        <th scope="col">Quittance</th>
        <th scope="col">Actions</th>
        </thead>
        <tbody>
            @foreach (var message in this.Model.Messages)
            {
                <tr>
                    <td>@message.EnteredOn.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@message.Sender</td>
                    <td>@message.Recipient</td>
                    <td>@message.MessageText</td>
                    <td class="@message.PriorityClass">@if (message.Priority != null) {
                        @message.Priority.Name
                    }</td>
                    <td class="@message.ApprovalClass">@if (message.Approval != null) {
                            @message.Approval.Name
                        }</td>
                    <td>
                        <a href="@message.EditLink">Changer</a>

                        <form method="post" class="delete-form" asp-page-handler="delete">
                            <input type="hidden" name="EventID" value="@message.EventID" />
                            <input type="hidden" name="MessageID" value="@message.MessageID" />
                            <button type="submit" class="btn">Enlever</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<form method="post">
    <fieldset>
        <legend>
            Nouveau message
        </legend>

        <div class="form-group">
            <label for="EnteredOn">Date d'envoi</label>
            <input type="text" class="form-control" id="EnteredOn" name="EnteredOn" value="@this.Model.EnteredOn" />
        </div>

        <div class="form-group">
            <label for="Sender">De</label>
            <input type="text" class="form-control" id="Sender" name="Sender" value="@this.Model.Sender" />
        </div>

        <div class="form-group">
            <label for="Recipient">À</label>
            <input type="text" class="form-control" id="Recipient" name="Recipient" value="@this.Model.Recipient" />
        </div>

        <div class="form-group">
            <label for="MessageText">Message</label>
            <textarea class="form-control" id="MessageText" name="MessageText">@this.Model.MessageText</textarea>
        </div>

        <div class="form-group">
            <label for="Priority">Urgence</label>
            <select class="form-control" id="Priority" asp-items="this.Model.Priorities" asp-for="PriorityID">
                <option value="">Séléctionnez une urgence</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Approval">Quittance</label>
            <select class="form-control" id="Approval" asp-items="this.Model.Approvals" asp-for="ApprovalID">
                <option value="">Séléctionnez une Quittance</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </fieldset>
</form>
